<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>About</h2>
                    <span>Home / <a href="#">About</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>ORDERING</h2>
                    <img src="/img/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <h4>Pesan</h4>
                    <p>Sudah tahu mau pesan apa? Segera telepon Andria's Kitchen di +62.21.568.2611 atau +62.818.71.4648 (HP). Makanan kami dibuat setiap pagi. Sebaiknya makanan dipesan paling lambat sehari sebelumnya.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-motorcycle"></i>
                    </div>
                    <h4>Ambil/Antar</h4>
                    <p>Makanan bisa diambil di dapur kami. Macet atau tidak sempat? Jangan khawatir! Dengan minimum order, biaya antar Anda GRATIS!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <h4>Nom Nom Nom</h4>
                    <p>Nikmati makanan dari Andria's Kitchen. Dijamin enak! Jangan lupa 'like' Andria's Kitchen di media sosial! </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="product-post">
    <div class="container about">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>CONTACT</h2>
                    <img src="/img/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="info">
                <p>Makanan kami dibuat setiap pagi. Sebaiknya makanan dipesan paling lambat sehari sebelumnya. <br/> Tunggu
                    apalagi! Cepat telepon +62.21.568.2611
                </p>
                <ul>
                    <li><i class="fa fa-phone"></i><a href="tel:+62215682611">+62.21.568.2611</a></li>
                    <li><i class="fa fa-mobile-phone"></i><a href="tel:+62818714648">+62.818.71.4648</a></li>
                    <li><i class="fa fa-mobile-phone"></i>BBM PIN: 767BC837</li>
                    <li><a target="blank" href="https://goo.gl/maps/MrTbE4g7o2n"><i class="fa fa-globe"></i>Jalan Mangga 24 Blok E136<br>Kepa Duri, Jakarta Barat, 11510</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.6696257430085!2d106.77073581536051!3d-6.174965362230447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f654fae18457%3A0x5c20cbb5a7053128!2sAndrias+Kitchen!5e0!3m2!1sen!2sus!4v1472432405164" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <!--<a target="blank" href="https://goo.gl/maps/MrTbE4g7o2n"><img src="http://maps.googleapis.com/maps/api/staticmap?center=-6.174973,+106.772971&zoom=14&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:A%7C-6.174973,+106.772971"
                        alt="Google Map of Andria's Kitchen'"></a>-->
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
  <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About <strong>Andria's Kitchen</strong></h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="~/Content/Images/slide-2.jpg">
        </div>
        <div class="col-md-6">
            <p>This is a great place to introduce your company or project and describe what you do.</p>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>-->