// * {
//   color: #f87c08;
// }

.map { 
    text-align: center;
    img {
        width: 85%;
    }
}

.info {
    text-align: center;
    padding-bottom: 20px;
}

.about .heading-section
{
    padding-bottom: 50px;
}

