<header>
  <!--<div id="main-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <a href="#"><img src="/img/AK-logo-big.png" title="Grill Template" alt="Grill Website Template"></a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="main-menu">
            <ul>
              <li><a [routerLink]="['']">Home</a></li>
              <li><a [routerLink]="['about']">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div id="main-header">
    <div class="container">
      <div class="row">
        <div>
          <div class="logo">
            <a href="#"><img src="/img/AK-logo-big.png" title="Grill Template" alt="Grill Website Template"></a>
            <div class="address-bar"><a target="blank" href="https://goo.gl/maps/MrTbE4g7o2n"> Mangga 24 Blok E136, Kepa Duri, Jakarta Barat</a>
            <br/><a href="tel:+62215682611">+62.21.568.2611</a> | <a href="tel:+62818714648">+62.818.71.4648</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>
            <!-- end navbar-header -->
            <div class="collapse navbar-collapse main-menu">
              <ul class="nav navbar-nav">    
                <li><a [routerLink]="['']">Home</a></li>
                <li><a [routerLink]="['about']">About</a></li>
              </ul>
            </div>
            <!-- end collapse -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
    <div class="top-footer">
      <div class="row">
        <div class="col-md-9">
          <div class="social-bottom">
            <span>Follow us:</span>
            <ul>
              <li>
                <a target="blank" href="https://www.facebook.com/AndriasKitchen/" class="fa fa-facebook"></a>
              </li>
              <li>
                <a target="blank" href="https://twitter.com/andriaskitchen" class="fa fa-twitter"></a>
              </li>
              <li>
                <a target="blank" href="https://www.instagram.com/andriaskitchen" class="fa fa-instagram"></a>
              </li>
              <li>
                <a target="blank" href="https://plus.google.com/u/0/108602389898422798984" class="fa fa-google-plus"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main-footer">
      <div class="row">
        <div class="col-md-9">
          <div class="about">
            <h4 class="footer-title">About Andria's Kitchen</h4>
            <p>Cerita katering Andria's Kitchen dimulai dari banyaknya murid yoga Andria yang penasaran dengan diet Andria.
              Dari situ, Andria mulai memberi tips makanan yang sehat. Namun dengan kesibukan dan hiruk pikuk Jakarta, banyak
              murid Andria yang tidak sempat mempersiapkan makanan ini. Dari situlah, Andria's Kitchen mulai menawarkan makanan
              jadi. Dari mulut ke mulut, pelanggan setia Andria's Kitchen berkembang sampai ke anak-anak para murid Andria
              (kebanyakan ibu-ibu) yang bersekolah. Dari testimoni yang diterima, Andria's Kitchen dikenal dengan katering
              yang menyediakan makanan sehat untuk semua orang. Sekarang, katering Andria's Kitchen makin berkembang sampai
              ke perkantoran. Oleh karena itu, situs ini dibuat untuk mempermudah akses kepada para pelanggan setia Andria's
              Kitchen.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="more-info">
            <h4 class="footer-title">Contact Us</h4>
            <ul>
              <li><i class="fa fa-phone"></i>+62.21.568.2611</li>
              <li><i class="fa fa-mobile-phone"></i>+62.818.71.4648</li>
              <li><i class="fa fa-mobile-phone"></i>BBM PIN: 767BC837</li>
              <li><a target="blank" href="https://goo.gl/maps/MrTbE4g7o2n"><i class="fa fa-globe"></i>Jalan Mangga 24 Blok E136<br>Kepa Duri, Jakarta Barat, 11510</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <p>Andria's Kitchen website is developed by <a href="http://www.hendrang.com">Hendra Ng</a></p>
    </div>
  </div>
</footer>