// component styles are encapsulated and only applied to their components
// * {
//   color: #FFEF00;
// }

.item
{
  height: 125px;
}

.item_row
{
    display: flex; /* equal height of the children */

    .item_col_fixed
    {
      width: 265px;
    }

    .item_col_flex
    {
      flex: 1; /* additionally, equal width */
      margin-top: 7px;
      font-style: italic;
    }
}

.item_desc
{
  margin-top: 10px;
}

